<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sentai-task.ZPM">
    <Module>
      <Name>sentai-task</Name>
      <Version>0.0.1</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>

      <Resource Name="sentai.PKG"/>
      <UnitTest Name="/tests" Package="sentai.unittest" Phase="test"/>

    </Module>
  </Document>
</Export>
